{% extends 'base.html'%} {% block title %}Grades{% endblock %} {% block content
%}
<h1 class="text-center mx-auto my-4">Grades</h1>
{% if grades != [] %}
<div class="row row-cols-md-2 row-cols-lg-3 mx-auto mt-5 pt-3">
  {% for grade in grades %}
  <div class="col mb-4">
    <div class="card mx-auto mb-4" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title fs-2">{{ grade.subject }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary fs-5">
          {{ grade.grade.value }}
        </h6>
        <p class="card-text fs-6">{{ grade.grade_comment }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
